@font-face {
	font-family: 'PF BeauSans Pro';
	src: url('../fonts/hinted-subset-PFBeauSansPro-Light.eot');
	src: url('../fonts/hinted-subset-PFBeauSansPro-Light.eot?#iefix') format('embedded-opentype'),
	url('../fonts/hinted-subset-PFBeauSansPro-Light.woff') format('woff'),
	url('../fonts/hinted-subset-PFBeauSansPro-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'PF BeauSans Pro';
	src: url('../fonts/hinted-subset-PFBeauSansPro-Regular.eot');
	src: url('../fonts/hinted-subset-PFBeauSansPro-Regular.eot?#iefix') format('embedded-opentype'),
	url('../fonts/hinted-subset-PFBeauSansPro-Regular.woff') format('woff'),
	url('../fonts/hinted-subset-PFBeauSansPro-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'PF BeauSans Pro';
	src: url('../fonts/hinted-subset-PFBeauSansPro-SemiBold.eot');
	src: url('../fonts/hinted-subset-PFBeauSansPro-SemiBold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/hinted-subset-PFBeauSansPro-SemiBold.woff') format('woff'),
	url('../fonts/hinted-subset-PFBeauSansPro-SemiBold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'PF BeauSans Pro';
	src: url('../fonts/hinted-subset-PFBeauSansPro-Bold.eot');
	src: url('../fonts/hinted-subset-PFBeauSansPro-Bold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/hinted-subset-PFBeauSansPro-Bold.woff') format('woff'),
	url('../fonts/hinted-subset-PFBeauSansPro-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'PF BeauSans Pro';
	src: url('../fonts/hinted-subset-PFBeauSansPro-BoldItalic.eot');
	src: url('../fonts/hinted-subset-PFBeauSansPro-BoldItalic.eot?#iefix') format('embedded-opentype'),
	url('../fonts/hinted-subset-PFBeauSansPro-BoldItalic.woff') format('woff'),
	url('../fonts/hinted-subset-PFBeauSansPro-BoldItalic.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
}