body{
	font-family: $font;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.4;
	color: $black;
}

a{
	color: inherit;
	text-decoration: none;
}

h1, .h1 {
	display: block;
	padding-bottom: $pad-xs;
	line-height: 1.2;
	font-family: $font-head;
	font-size: 48px;
	font-weight: 600;
	@include res(xl) {
		font-size: 42px;
	}
	@include res(l) {
		font-size: 38px;
	}
	@include res(m) {
		font-size: 32px;
	}
	@include res(s) {
		font-size: 24px;
		padding-bottom: $pad-xxs;
	}
	@include res(xs) {
		font-size: 22px;
	}
}

h2, .h2 {
	display: block;
	padding-bottom: $pad-xs;
	line-height: 1.2;
	font-family: $font-head;
	font-size: 36px;
	font-weight: 600;
	@include res(xl) {
		font-size: 34px;
		padding-bottom: 15px;
	}
	@include res(l) {
		font-size: 30px;
		padding-bottom: 15px;
	}
	@include res(m) {
		font-size: 26px;
	}
	@include res(s) {
		font-size: 22px;
		padding-bottom: $pad-xxs;
	}
	@include res(xs) {
		font-size: 20px;
	}
}

h3, .h3 {
	display: block;
	padding-bottom: $pad-xxs;
	line-height: 1.2;
	font-family: $font-head;
	font-size: 22px;
	font-weight: 600;
	@include res(l) {
		font-size: 20px;
	}
	@include res(s) {
		font-size: 18px;
	}
}

h4, .h4 {
	display: block;
	padding-bottom: $pad-xxs;
	line-height: 1.2;
	font-family: $font-head;
	font-size: 20px;
	font-weight: 600;
	@include res(l) {
		font-size: 18px;
	}
	@include res(s) {
		font-size: 16px;
	}
}

.rub{
	display: inline-block;
	font-size: 50%;
	margin-left: 0.2em;
}

.green-col {
	color: $green;
}

.orange-col {
	color:  $orange;
}

.user-content {
	font-size: 16px;
	line-height: 1.4;
	color: #5f6c77;
	@include res(l) {
		font-size: 15px;
	}
	@include res(s) {
		font-size: 14px;
	}
	p {
		font-size: 16px;
		padding-bottom: 1em;
		@include res(l) {
			font-size: 15px;
		}
		@include res(s) {
			font-size: 14px;
		}
		&:last-child {
			padding-bottom: 0;
		}
		&+h3, &+h4 {
			padding-top: 15px;
			@include res(l) {
				padding-top: 12px;
			}
			@include res(s) {
				padding-top: 8px;
			}
		}
	}
	b {
		color: #233647;
	}
	a {
		color: $orange;
		&[target=_blank] {
			padding-bottom: 2px;
			border-bottom: 2px dotted $orange;
			transition: all 0.3s ease;
			&:hover {
				border-color: transparent;
			}
		}
	}
	.fluid-width-video-wrapper {
		margin-top: $pad-s;
		margin-bottom: $pad-s;
		@include res(l) {
			margin-top: $pad-xs;
			margin-bottom: $pad-xs;
		}
	}
	&--mini {
		font-size: 14px;
		p {
			font-size: 14px;
		}
	}
}