.breadcrumbs-sec {
	position: relative;
	z-index: 1;
	&+.big-slider-sec {
		margin-top: -92px;
		@include res(l) {
			margin-top: -72px;
		}
		@include res(m) {
			margin-top: -57px;
		}
		@include res(s) {
			margin-top: -42px;
		}
	}
}

.breadcrumbs {
	padding-top: 45px;
	padding-bottom: 25px;
	@include res(l) {
		padding-top: 30px;
		padding-bottom: 20px;
	}
	@include res(m) {
		padding-top: 20px;
		padding-bottom: 15px;
	}
	@include res(s) {
		padding-top: 10px;
		padding-bottom: 10px;
	}
	a {
		position: relative;
		font-size: 14px;
		color: $orange;
		line-height: 1.2;
		transition: all 0.3s ease;
		@include res(s) {
			font-size: 12px;
		}
		&:hover {
			color: $green;
		}
		&:after {
			content: '/';
			display: inline-block;
			vertical-align: middle;
			margin-right: 6px;
			padding-left: 6px;
			color: #233647;
			font-size: 14px;
			@include res(s) {
				font-size: 12px;
			}
		}
		&:last-child {
			color: #233647;
			pointer-events: none;
			&:after {
				content: none;
			}
		}
	}
}