.catalog-list-sec {}

.catalog-list {}

.catalog-list__filter {
	margin-bottom: $pad-m;
	padding: $pad-xs $pad-xs;
	border-radius: 10px;
	box-shadow: 0 5px 30px 0 rgba(210, 229, 236, 0.45);
	@include res(l) {
		padding: 16px 16px;
	}
	.style-checkbox {
		margin-bottom: 0px;
		padding-top: 5px;
		padding-bottom: 5px;
		font-size: 14px;
		@include res(l) {
			font-size: 13px;
		}
		&:hover {
			.checkbox-personal {
				color: $green;
			}
		}
	}
	.checkbox-personal {
		display: block;
		transition: all 0.3s ease;
	}
}

.catalog-list__filter-block {
	padding-bottom: $pad-xxs;
	transition: all 0.3s ease;
	@include res(s) {
		padding-bottom: $pad-xxs;
	}
	&.active {
		padding-bottom: $pad-xs;
		@include res(s) {
			padding-bottom: $pad-xxs;
		}
		.catalog-list__filter-title {
			&:after {
				transform: translate3d(0,5px,0) rotate(-135deg);
			}
		}
		.catalog-list__filter-sets {
			display: block;
		}
	}
	&.changed {
		.catalog-list__filter-block-counter {
			display: block;
		}
	}
}

.catalog-list__filter-title {
	position: relative;
	padding-right: 20px;
	cursor: pointer;
	transition: all 0.3s ease;
	&:hover {
		color: $orange;
	}
	&:after {
		content: '';
		position: absolute;
		top: 1px;
		right: 5px;
		width: 10px;
		height: 10px;
		border-bottom: 2px solid #dedede;
		border-right: 2px solid #dedede;
		transform: translate3d(0,0,0) rotate(45deg);
		transition: all 0.3s ease;
	}
}

.catalog-list__filter-block-counter {
	display: none;
	margin-bottom: $pad-xxs;
	padding: $pad-xxs $pad-xxs;
	font-size: 14px;
	border-radius: 10px;
	border: 1px solid #e2e2e2;
	@include res(l) {
		font-size: 13px;
	}
	a {
		display: inline-block;
		padding-top: 2px;
		color: $orange;
		border-bottom: 1px dotted $orange;
		transition: all 0.3s ease;
		&:hover {
			border-color: transparent;
		}
	}
}

.catalog-list__filter-sets {
	.style-checkbox {
		input:disabled + span {
			opacity: 0.5;
		}
		&.disabled {
			pointer-events: none;
		}
	}
}

.catalog-list__filter-price {
	position: relative;
	padding-top: $pad-xxs;
	.range-slider {
		position: relative;
	}
	.extra-controls {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: space-between;
		input {
			width: calc(50% - 25px);
			margin-bottom: 0;
			padding-left: 5px;
			padding-right: 7px;
			text-align: center;
			@include res(l) {
				width: calc(50% - 15px);
			}
		}
		&:after {
			content: '';
			position: absolute;
			top: 50%;
			left: 50%;
			width: 30px;
			height: 2px;
			background: #c7c7c7;
			transform: translate(-50%, -50%);
			@include res(l) {
				width: 20px;
			}
		}
	}
	.irs-slider {
		top: 27px;
		width: 16px;
		height: 16px;
		border: none;
		box-shadow: none;
		background: $green;
	}
	.irs-line {
		height: 5px;
		border: none;
		background: #e2e2e2;
	}
	.irs-bar {
		height: 5px;
		border: none;
		background: $green;
	}
}

.catalog-list__filter-btns {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	.btn {
		font-size: 16px;
	}
}

.catalog-list__filter-reset {
	position: relative;
	display: inline-block;
	margin-left: auto;
	padding-left: $pad-xs;
	padding-top: 2px;
	font-size: 16px;
	font-family: $font-head;
	color: #aaaaaa;
	transition: all 0.3s ease;
	@include res(xl) {
		display: block;
		width: 100%;
		margin-top: $pad-xs;
		margin-bottom: $pad-xs;
		margin-left: 0;
	}
	@include res(s) {
		margin-bottom: 0;
	}
	&:hover {
		color: $green;
		&:before, &:after {
			background: $green;
		}
	}
	&:before {
		content: '';
		position: absolute;
		top: 50%;
		left: 0;
		width: 16px;
		height: 1px;
		background: #aaaaaa;
		transition: all 0.3s ease;
		transform: rotate(45deg);
	}
	&:after {
		content: '';
		position: absolute;
		top: 50%;
		left: 0;
		width: 16px;
		height: 1px;
		background: #aaaaaa;
		transition: all 0.3s ease;
		transform: rotate(-45deg);
	}
}

.catalog-list__promo {
	text-align: center;
	@include res(s) {
		display: none;
	}
	a {
		display: inline-block;
		border-radius: 10px;
		box-shadow: 0 9px 21px rgba(210, 229, 236, 0.0);
		transition: all 0.3s ease;
		transform: translate3d(0,0,0);
		overflow: hidden;
		&:hover {
			box-shadow: 0 9px 21px rgba(210, 229, 236, 0.6);
			transform: translateY(-3px) translateZ(0);
		}
	}
	img {
		display: block;
		max-width: 100%;
		margin: 0 auto;
		border-radius: 10px;
		border: 1px solid #e1e1e1;
	}
	&--mobile {
		display: none;
		@include res(s) {
			display: block;
			padding-top: $pad-s;
			padding-bottom: 0;
		}
		a {
			display: block;
			max-width: 320px;
			margin: 0 auto;
		}
	}
}

.catalog-list__items {
	.product-item {
		margin-top: 0;
		margin-bottom: $pad-s;
		@include res(l) {
			margin-bottom: $pad-xs;
		}
	 }
	.product-item__buy {
		flex-wrap: wrap;
		@include res(l) {
			padding-top: $pad-xxs;
		}
	}
	.product-item__buy-price {
		@include res(l) {
			width: 100%;
			padding-bottom: $pad-xxs;
		}
		@include res(s) {
			width: initial;
		}
	}
	&--rowed {
		.product-item {
			display: flex;
			justify-content: space-between;
			align-items: flex-start;
			margin-bottom: $pad-xs;
			padding-right: $pad-s;
			@include res(m) {
				padding-right: $pad-xs;
			}
			@include res(s) {
				padding-right: $pad-xxs;
			}
		}
		.product-item__link {
			display: flex;
			align-items: flex-start;
			width: 80%;
			@include res(s) {
				width: 75%;
			}
		}
		.product-item__img {
			max-width: 250px;
			width: 20%;
			@include res(l) {
				width: 25%;
			}
			@include res(m) {
				width: 30%;
			}
			@include res(s) {
				width: 35%;
			}
		}
		.product-item__info {
			display: block;
			width: 80%;
			padding-left: $pad-xxs;
			padding-right: $pad-xxs;
			@include res(l) {
				width: 75%;
			}
			@include res(m) {
				width: 70%;
			}
			@include res(s) {
				width: 65%;
			}
		}
		.product-item__status {
			padding-top: $pad-xs;
			text-align: left;
			@include res(l) {
				padding-top: $pad-xxs;
			}
		}
		.product-item__buy {
			justify-content: flex-end;
			flex-wrap: wrap;
			width: 20%;
			border: none;
			@include res(s) {
				width: 25%;
			}
		}
		.product-item__buy-price {
			width: 100%;
			text-align: right;
		}
		.product-item__buy-btns {
			margin-top: $pad-xs;
		}
	}
}

.catalog-list__item {

}

.catalog-list__pages {}

.catalog-list__ {}
