.catalog-list-sec {}

.catalog-list {}

.catalog-list__filter {}

.catalog-list__promo {
	a {
		display: inline-block;
	}
	img {
		display: block;
		max-width: 100%;
		border-radius: 10px;
		border: 1px solid #e1e1e1;
	}
}

.catalog-list__items {
	.product-item {
		margin-top: 0;
		margin-bottom: $pad-s;
		@include res(l) {
			margin-bottom: $pad-xs;
		}
	 }
}

.catalog-list__item {

}

.catalog-list__pages {}

.catalog-list__ {}
