.footer-sec {
	padding-bottom: $pad-m;
	background: #14112e;
	@include res(l) {
		padding-bottom: $pad-xs;
	}
}

.footer {
	padding-top: $pad-m;
	color: #fff;
	flex-wrap: nowrap;
	@include res(l) {
		padding-top: $pad-s;
	}
	@include res(m){
		flex-wrap: wrap;
	}
	@include res(s) {
		padding-top: $pad-xs;
	}
}

.footer__title {
	padding-bottom: 10px;
	font-size: 18px;
	font-family: $font-head;
	font-weight: 600;
	@include res(xl) {
		font-size: 16px;
	}
	@include res(l) {
		font-size: 14px;
		padding-bottom: 5px;
	}
}

.footer__descr {
	display: block;
	padding-top: 7px;
	padding-bottom: 7px;
	font-size: 15px;
	line-height: 1.2;
	@include res(xl) {
		font-size: 14px;
	}
	@include res(l) {
		font-size: 12px;
	}
}

.footer__phone {
	display: block;
	margin-bottom: 15px;
	font-size: 22px;
	line-height: 1.2;
	font-family: $font-head;
	transition: all 0.3s ease;
	@include res(xl) {
		font-size: 20px;
	}
	@include res(l) {
		font-size: 16px;
	}
	&:hover {
		color: $orange;
	}
}

.footer__mail {
	font-size: 15px;
	line-height: 1.2;
	transition: all 0.3s ease;
	@include res(xl) {
		font-size: 14px;
	}
	@include res(l) {
		font-size: 12px;
	}
	&:hover {
		color: $orange;
	}
}

.footer__list {
	list-style: none;
	font-size: 15px;
	line-height: 1.2;
	@include res(xl) {
		font-size: 14px;
	}
	@include res(l) {
		font-size: 12px;
	}
	@include res(m) {
		padding-bottom: 35px;
	}
	a {
		display: inline-block;
		padding-top: 7px;
		padding-bottom: 7px;
		transition: all 0.3s ease;
		&:hover {
			color: $orange;
		}
	}
}

.footer__soc {
	display: flex;
	align-items: center;
	padding-top: 5px;
	a {
		display: block;
		margin-right: 18px;
		font-size: 22px;
		transition: all 0.3s ease;
		&:hover {
			color: $orange;
		}
		&:last-child {
			margin-right: 0;
		}
	}
	i {
		display: block;
	}
	.i-vk {
		font-size: 26px;
	}
}

.footer__subscribe {
	padding-top: 42px;

	input {
		width: 100%;
		height: 48px;
		font-weight: normal;
		font-style: normal;
		color: #fff;
		padding: 12px 50px 14px 22px;
		border: 1px solid #fff;
		border-radius: 25px;
		background: transparent;
		@include placeholder {
			font-size: 16px;
			color: #fff;
			opacity: 1;
			transition: all 0.3s ease;
			@include res(l) {
				font-size: 14px;
			}
		}
	}

	.btn {
		position: absolute;
		top: 1px;
		right: 1px;
		width: 46px;
		height: 46px;
		padding: 0;
		border: none;
		border-radius: 50%;
		display: flex;
		align-items: center;
		justify-content: center;
		.i-right {
			padding-left: 0;
		}
	}
}

.subscribe-form{
	position: relative;
	display: inline-block;
	width: 100%;
	margin-top: 5px;
}

.footer-bottom {
	padding-top: $pad-l;
	color: #fff;
	line-height: 1.4;
	@include res(l) {
		padding-top: $pad-m;
	}
	p, a {
		display: inline-block;
		font-size: 12px;
		@include res(xs){
			margin-bottom: 10px;
		}
	}
	a {
		transition: all 0.3s ease;
		&:hover {
			color: $orange;
		}
	}
	.left {
		text-align: left;
	}
	.right {
		text-align: right;
	}
}

.footer-payment-wrap {
	border-top: 1px solid #d3d3d3;
	padding-top: $pad-xs;
	padding-bottom: $pad-xs;
	background: #fff;
	&:hover {
		.footer-payment-imgs img {
			opacity: 1;
			filter: grayscale(0);
		}
	}
	p {
		font-size: 18px;
		font-family: $font-head;
		line-height: 1;
		color: #5f6c77;
		@include res(s) {
			margin-bottom: 15px;
			font-size: 16px;
			text-align: center;
		}
	}
}

.footer-payment-imgs {
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-wrap: wrap;
	img {
		display: block;
		flex-shrink: 0;
		margin: 0 10px;
		filter: grayscale(1);
		opacity: 0.6;
		transition: all 0.3s ease;
		@include res(s) {
			margin-bottom: 10px;
		}
	}
}

