label{cursor: pointer;}

button {
	border: none;
}

.form-row-sec {
	background: $gray-bg;
	&+.footer-sec {
		margin-top: 0;
	}
}

.form-row {}

.form-row__title {
	//display: flex;
	//align-items: flex-start;
	//justify-content: center;
	text-align: center;
	img {
		display: inline-block;
		margin-right: 20px;
		vertical-align: top;
		@include res(xl) {
			width: 45px;
		}
		@include res(l) {
			width: 38px;
		}
		@include res(m) {
			width: 34px;
			margin-right: 15px;
		}
		@include res(s) {
			width: 25px;
			margin-right: 10px;
		}
	}
	p {
		vertical-align: top;
	}
}

.form-row__subscribe {
	max-width: 680px;
	width: 100%;
	margin: 0 auto;
	text-align: center;
	.input-text {
		width: 100%;
		padding-right: 330px;
		@include res(l) {
			padding-right: 280px;
		}
		@include res(s) {
			padding-right: 230px;
		}
		@include res(xs) {
			padding-right: 20px;
		}
	}
	.btn {
		position: absolute;
		top: 0;
		right: 0;
		@include res(xs) {
			position: relative;
			top: initial;
			right: initial;
			margin-bottom: 0.8em;
		}
	}
	.style-checkbox {
		@include res(s) {
			margin-bottom: 0;
		}
	}
}

.form-row__halfed {
	.ajax-form {
		max-width: 700px;
		margin: 0 auto;
	}
	.form-row__col-wrap {
		display: flex;
		flex-wrap: wrap;
		padding-top: $pad-xs;
		padding-bottom: $pad-xs;
		@include res(l) {
			padding-top: $pad-xxs;
		}
		@include res(xs) {
			padding-top: 0;
			padding-bottom: $pad-xxs;
		}
	}
	.form-row__col {
		width: 50%;
		@include res(xs) {
			width: 100%;
		}
	}
	.btn-center {
		padding-top: $pad-xxs;
		@include res(s) {
			padding-top: 0;
		}
	}
	input {
		width: calc(100% - 15px);
		@include res(xs) {
			width: 100%;
		}
		&:last-child {
			margin-bottom: 0;
			@include res(xs) {
				margin-bottom: 0.8em;
			}
		}
	}
	textarea {
		width: 50%;
		@include res(xs) {
			width: 100%;
		}
		&:last-child {
			margin-bottom: 0;
		}
	}
}

.form-row__col-wrap {}

.form-row__col {}

.input-text, .input-textarea {
	display: inline-block;
	margin-bottom: 1em;
	padding: 12px 20px 14px 22px;
	font-family: $font;
	font-size: 16px;
	color: #5f6c77;
	line-height: 1.3;
	border: 1px solid #a3a3a3;
	border-radius: 25px;
	transition: all 0.3s ease;
	background: #fff;
	overflow: visible;
	-webkit-appearance: none;
	@include res(l) {
		font-size: 14px;
	}
	@include res(s) {
		margin-bottom: 0.8em;
		padding: 10px 20px 10px 20px;
	}

	@include placeholder {
		font-size: 16px;
		color: #5f6c77;
		opacity: 1;
		transition: all 0.3s ease;
		@include res(l) {
			font-size: 14px;
		}
	}

	&:focus{
		outline: none;
		@include placeholder {
			//opacity: 0;
		}
	}
	&.error {
		border-color: #cc0000;
		@include placeholder {
			color: #cc0000;
		}
	}
}

textarea {
	resize: vertical;
}

.input-search {
	display: inline-block;
	font-family: $font  ;
	font-size: 16px;
	font-style: italic;
	font-weight: $light;
	line-height: 1.3;
	-webkit-appearance: none;
	border: 1px solid #dedede;
	border-radius: 25px;
	padding: 8px 20px 10px;
	transition: all 0.3s ease;
	overflow: visible;
	@include res(l) {
		font-size: 14px;
	}

	@include placeholder {
		font-size: 16px;
		color: #a3a3a3;
		opacity: 1;
		font-style: italic;
		transition: all 0.3s ease;
		@include res(l) {
			font-size: 14px;
		}
	}

	&:focus{
		outline: none;
		border: 1px solid #666;
		//font-style: normal;
		@include placeholder {
			opacity: 0;
		}
	}
}

//style-checkbox
.style-checkbox{
	display: block;
	position: relative;
	cursor: pointer;
	margin-bottom: 15px;
	font-size: 14px;

	input{
		opacity: 0;
		position: absolute;
		left: 0;
		top: 0;

		&:checked + span{
			&:before {
				background: $green;
			}
			&:after{
				opacity: 1;
			}
		}

		&.error + span{
			&:before{
				border-color: #cc0000;
			}
		}
	}

	span{
		//display: block;
		position: relative;
		padding-left: 25px;

		&:before{
			content: '';
			position: absolute;
			left: 0;
			top: 0;
			width: 16px;
			height: 16px;
			border: 2px solid $green;
			border-radius: 3px;
			transition: all 0.3s ease;
		}

		&:after{
			content: '';
			position: absolute;
			left: 3px;
			top: 4px;
			width: 10px;
			height: 6px;
			border-bottom: 2px solid #fff;
			border-left: 2px solid #fff;
			opacity: 0;
			transition: opacity 0.3s ease;
			transform: rotate(-45deg);
			z-index: 2;
		}

		a{
			color: $black;
		}
	}
}
//style-checkbox