.order-steps-sec {}

.order-steps {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	@include res(xs) {
		flex-direction: column;
	}
}

.order-steps__back {
	margin: $pad-xxs 15px $pad-xxs;
	color: $orange;
	font-size: 18px;
	@include res(l) {
		font-size: 16px;
	}
	@include res(m) {
		width: 100%;
		margin-bottom: $pad-xxs;
	}
	@include res(xs) {
		margin-left: 0;
		margin-right: 0;
	}
	&:hover {
		a {
			border-color: transparent;
		}
	}
	a {
		border-bottom: 1px solid $orange;
		transition: all 0.3s ease;
	}
	i {
		display: inline-block;
		margin-right: 5px;
		font-size: 10px;
	}
}

.order-steps__click {
	margin: $pad-xxs 15px $pad-xxs;
	@include res(xs) {
		margin-left: 0;
		margin-right: 0;
	}
}

.order-steps__next {
	margin: $pad-xxs 15px $pad-xxs;
	@include res(xs) {
		margin-left: 0;
		margin-right: 0;
	}
}
