.registration-sec {}

.registration {
	padding-top: $pad-xs;
}

.registration__form {
	max-width: 530px;
	padding: $pad-s $pad-xs;
	border: 1px solid #e2e2e2;
	border-radius: 10px;
	@include res(s) {
		margin-bottom:$pad-s;
		padding: $pad-xs $pad-xxs;
	}
	form {
		max-width: 350px;
		margin: 0 auto;
	}
	input {
		width: 100%;
	}
	label {
		display: block;
		span {
			display: block;
			margin-bottom: 5px;
			padding-left: 22px;
			font-size: 14px;
			color: #b3b3b3;
		}
	}
	button {
		margin-top: $pad-xs;
		@include res(s) {
			margin-top: $pad-xxs;
		}
	}
}

.registration__form-title {
	text-align: center;
}

.registration__form-descr {
	max-width: 350px;
	margin: 0 auto;
	padding-bottom: $pad-xs;
	text-align: center;
}

.registration__form-soc {
	max-width: 350px;
	margin: 0 auto;
	p {
		font-size: 14px;
		color: #5f6c77;
		text-align: center;
	}
}

.registration__form-enter-btns {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: $pad-xs;
	@include res(s) {
		padding-top: $pad-xxs;
	}
	a {
		color: $orange;
		border-bottom: 1px dotted $orange;
		font-size: 14px;
		transition: all 0.3s ease;
		&:hover {
			border-color: transparent;
		}
	}
	button {
		margin-top: 0;
	}
}

.registration__info {
	padding-top: $pad-s;
	@include res(s) {
		padding-top: 0;
	}
	.btn {
		margin-top: $pad-s;
		margin-bottom: $pad-s;
		@include res(l) {
			margin-top: $pad-xs;
			margin-bottom: $pad-xs;
		}
	}
}
