.salamat-slider {
	padding-left: $pad-s;
	padding-right: $pad-s;
	@include res(m) {
		padding-left: $pad-xs;
		padding-right: $pad-xs;
	}
	.slick-arrow {
		position: absolute;
		top: 0;
		width: 46px;
		height: 100%;
		background: transparent;
		outline: none;
		cursor: pointer;
		opacity: 0.7;
		transition: all 0.3s ease;
		z-index: 1;
		@include res(m) {
			width: 36px;
		}
		&:after {
			content: '';
			position: absolute;
			top: 50%;
			width: 32px;
			height: 32px;
			border-bottom: 1px solid #1e1e1e;
			border-right: 1px solid #1e1e1e;
			border-radius: 0 0 2px 0;
			transition: all 0.3s ease;
			@include res(l) {
				width: 28px;
				height: 28px;
			}
			@include res(m) {
				width: 22px;
				height: 22px;
			}
		}
		&:hover {
			opacity: 1;
			&:after {
				border-color: $green;
			}
		}
	}
	.slick-prev {
		left: 0px;
		@include res(l) {
			left: 0px;
		}
		&:after {
			left: 12px;
			transform: translateY(-50%) rotate(135deg);
		}
	}
	.slick-next {
		right: 0px;
		@include res(l) {
			right: 0px;
		}
		&:after {
			right: 12px;
			transform: translateY(-50%) rotate(-45deg);
		}
	}
	.slick-disabled {
		opacity: 0.2!important;
		pointer-events: none!important;
	}
	.slick-dots {
		position: absolute;
		bottom: 20px;
		left: 50%;
		display: flex;
		align-items: center;
		justify-content: center;
		list-style: none;
		transform: translate(-50%, 0);
		li {
			padding: 5px;
			cursor: pointer;
			&:hover {
				button {
					background: transparentize($green, 0.5);
				}
			}
			&.slick-active {
				button {
					background: $green;
				}
			}
		}
		button {
			display: block;
			width: 16px;
			height: 16px;
			padding: 5px;
			font-size: 0;
			line-height: 0;
			color: transparent;
			border: 2px solid $green;
			border-radius: 50%;
			outline: none;
			cursor: pointer;
			background: transparent;
			transition: all 0.3s ease;
		}

	}
}

.salamat-slide {
	padding-left: $pad-xxs;
	padding-right: $pad-xxs;
	img {
		display: block;
		margin: 0 auto;
	}
}